<!doctype html>
<html>
<head>
    <title></title>

</head>
<body>
    <h1>Baked Page!</h1> 
    <a href="/baked/new">create new</a>

    <ul>
    	<% for (let i = 0; i < baked.length; i++) { -%>
    		<li> <a href="/baked/<%= baked[i].id %>"> <%= baked[i].name %> </a> </li>
    	<% } -%>
    </ul>
</body>
</html>