<!doctype html>
<html>
<head>
    <title></title>

</head>
<body>

<form action="/baked" method="POST">
    Name: <input type="text" name="name"><br>
    Size: <input type="text" name="size"><br>
    Frosted: <input type="checkbox" name="frosted"><br>
    Region: <input type="text" name="region"><br>
    <input type="submit">
</form>
<br>
<footer>
	<a href="/baked">return to baked index</a> <br>
	<a href="/">return to root index</a>
</footer>

</body>
</html>