<!doctype html>
<html>
<head>
    <title>Index page</title>

</head>
<body>
    <h1>Desserts Index Page</h1>
    <a href="/frozen">Frozen Desserts</a>
    <a href="/baked">Baked Desserts</a>
</body>
</html>